<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gateoftruth.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gateoftruth.sample.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.gateoftruth.sample.MultipleDownloadActivity"/>
        <activity android:name="com.gateoftruth.sample.BrotliActivity" />
        <activity android:name="com.gateoftruth.sample.GlideTestActivity" />
        <activity android:name="com.gateoftruth.sample.PostFormActivity" />
        <activity android:name="com.gateoftruth.sample.UploadFileActivity" />
        <activity android:name="com.gateoftruth.sample.BitmapActivity" />
        <activity android:name="com.gateoftruth.sample.PostParamsActivity" />
        <activity android:name="com.gateoftruth.sample.PostJsonActivity" />
        <activity android:name="com.gateoftruth.sample.GetActivity" />
        <activity android:name="com.gateoftruth.sample.DownloadActivity" />
        <activity android:name="com.gateoftruth.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>